{
  "mongodb": {
    "host": "127.0.0.1",
    "port": "27017",
    "user": "",
    "password": "",
    "database": ""
  },
  "chromePath": "/usr/bin/google-chrome-unstable",
  "screenWidth": 1920,
  "screenHeight": 1080,
  "minio": {
    "bucket": "",
    "host": "",
    "useSSL": true,
    "accessKey": "",
    "secretKey": ""
  }
}